body {
  box-sizing: border-box;
}

.ac {
  display: flex;
  align-items: center;
}

.jc {
  display: flex;
  justify-content: center;
}

.jsb {
  display: flex;
  justify-content: space-between !important;
}

.ps-rl {
  position: relative;
}

.c-resize {
  cursor: ew-resize;
}

.c-cross {
  cursor: crosshair;
}

.rbgcp-control-btn {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  height: 24px;
  transition: all 160ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  color: rgb(86, 86, 86);
}

.rbgcp-control-icon {
  stroke: rgb(50, 49, 54);
}

.rbgcp-control-icon-btn {
  width: 30px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rbgcp-control-btn-wrapper {
  height: 28px;
  background: #e9e9f5;
  border-radius: 6px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rbgcp-color-model-dropdown {
  position: absolute;
  right: -2px;
  top: 34px;
  padding: 5px;
  background: #e9e9f5;
  z-index: 100000000;
  border-radius: 6px;
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.25);
}

.rbgcp-eyedropper-cover {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100000000;
  width: 100vw;
  height: 100vh;
  cursor: copy;
}

.rbgcp-control-input {
  height: 24px;
  border-radius: 4px;
  border: none;
  outline: none;
  text-align: center;
  width: 34px;
  font-weight: 500;
  color: rgb(50, 49, 54);
  font-size: 13px;
  background: transparent;
}

.rbgcp-input-label {
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  color: rgb(86, 86, 86);
  font-size: 11px;
}

.rbgcp-input {
  height: 32px;
  border-radius: 6px;
  border: 1px solid #bebebe;
  width: 100%;
  padding: 2px;
  outline: none;
  color: black;
  font-weight: 400;
  text-align: center;
}

.rbgcp-handle {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  width: 18px;
  height: 18px;
  z-index: 1000;
  transition: all 10ms linear;
}

.rbgcp-canvas-wrapper {
  border-radius: 6px;
  overflow: hidden;
  height: 294px;
}

.rbgcp-checkered {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.18) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.18) 75%,
      rgba(0, 0, 0, 0.18) 0
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.18) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.18) 75%,
      rgba(0, 0, 0, 0.18) 0
    ),
    white;
  background-repeat: repeat, repeat;
  background-position:
    0px 0,
    7px 7px;
  webkittransformorigin: 0 0 0;
  transform-origin: 0 0 0;
  webkitbackgroundorigin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  webkitbackgroundclip: border-box, border-box;
  background-clip: border-box, border-box;
  webkitbackgroundsize:
    14px 14px,
    14px 14px;
  background-size:
    14px 14px,
    14px 14px;
  webkitboxshadow: none;
  box-shadow: none;
  text-shadow: none;
  webkittransition: none;
  moztransition: none;
  otransition: none;
  transition: none;
  webkittransform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
  border-radius: 10px;
}

.rbgcp-opacity-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.rbgcp-gradient-handle-wrap {
  position: absolute;
  z-index: 10000;
  top: -2px;
  outline: none;
}

.rbgcp-gradient-handle {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbgcp-control-icon2 {
  fill: #323136;
}

.rbgcp-control-btn-selected {
  background: white;
  color: #568cf5;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.rbgcp-comparible-label {
  color: #323136;
}

@media (prefers-color-scheme: dark) {
  .rbgcp-input-label {
    color: rgb(212, 212, 212);
  }
  .rbgcp-control-btn-wrapper {
    background: rgb(54, 54, 54);
  }
  .rbgcp-input {
    border: none;
    color: white;
    background: rgb(54, 54, 54);
  }
  .rbgcp-control-btn {
    color: rgb(212, 212, 212);
  }
  .rbgcp-control-icon {
    stroke: rgb(212, 212, 212);
  }
  .rbgcp-control-icon2 {
    fill: rgb(212, 212, 212);
  }
  .rbgcp-control-input {
    color: white;
  }
  .rbgcp-control-btn-selected {
    background: black;
    color: #568cf5;
  }
  .rbgcp-degree-icon {
    color: rgb(212, 212, 212);
  }
  .rbgcp-color-model-dropdown {
    background: rgb(32, 32, 32);
  }
  .rbgcp-comparible-label {
    color: rgb(212, 212, 212);
  }
}
